:root {
    /* FONT */
    --font-dm-sans: "DM Sans", sans-serif;
    /* COLORS */
    --color-background: #6457ca;
    --color-text-button: #ffffff;
    --color-text-primary: #000000;
    --color-button: #32268e;
    --bg-box-color: rgba(0,0,07)
  }